.subscribe-form
	display flex
	
	&__field
		border 2px solid $primary-blue
		border-right 0
		padding 0 15px
		box-sizing border-box
		font-family $secondary-font
		font-size 16px
		
		&:focus
			outline 0
		
		&::placeholder
			font-family $primary-font
			font-style italic
			font-size 14px