$primary-font = 'Adobe Garamond Pro', 'Times New Roman', georgia, serif
$secondary-font = 'Futura PT', Arial, Helvetica, sans-serif

$primary-blue = #1b3359
$dark-blue = #181f48
$black = #000
$white = #fff
$border-color = #edeef2
$shadow = 0 2px 0 rgba(0, 0, 0, 0.05)

$gutter = 30px
$sm-gutter = 16px