<section class="arrivals">
	<div class="container arrivals__container">
		<div class="product-preview arrivals__product">
			<a class="product-preview__link" href="#">
				<img class="product-preview__img" src="img/1.jpg" alt="">
				<div class="product-preview__content product-preview__content--sm">
					<h3 class="heading heading--xs">Navy Cat Print Shirt</h3>
					<p class="product-preview__price">Slim fit / 1295 sec</p>
				</div>
			</a>
		</div>
		<div class="product-preview arrivals__product">
			<a class="product-preview__link" href="#">
				<img class="product-preview__img" src="img/2.jpg" alt="">
				<div class="product-preview__content product-preview__content--sm">
					<h3 class="heading heading--xs">Green Band Collar Shirt</h3>
					<p class="product-preview__price">Classic fit / 1295 sec</p>
				</div>
			</a>
		</div>
		<div class="product-preview arrivals__product">
			<a class="product-preview__link" href="#">
				<img class="product-preview__img" src="img/3.jpg" alt="">
				<div class="product-preview__content product-preview__content--sm">
					<h3 class="heading heading--xs">Navy Cat Print Shirt</h3>
					<p class="product-preview__price">Slim fit / 1295 sec</p>
				</div>
			</a>
		</div>
		<div class="product-preview arrivals__product">
			<a class="product-preview__link" href="#">
				<img class="product-preview__img" src="img/4.jpg" alt="">
				<div class="product-preview__content product-preview__content--sm">
					<h3 class="heading heading--xs">Green Band Collar Shirt</h3>
					<p class="product-preview__price">Contemporary fit / 1295 sec</p>
				</div>
			</a>
		</div>
	</div>
</section>