<section class="categories">
	<div class="container categories__container">
		<div class="product-preview">
			<a class="product-preview__link" href="#">
				<img class="product-preview__img" src="img/cat_1.jpg" alt="">
				<div class="product-preview__content">
					<h3 class="heading heading--sm">The Essentials</h3>
					<p class="product-preview__text">Lorem ipsum dolor</p>
				</div>
			</a>
		</div>
		<div class="product-preview">
			<a class="product-preview__link" href="#">
				<img class="product-preview__img" src="img/cat_2.jpg" alt="">
				<div class="product-preview__content">
					<h3 class="heading heading--sm">Closet No 6</h3>
					<p class="product-preview__text">Lorem ipsum dolor</p>
				</div>
			</a>
		</div>
		<div class="product-preview">
			<a class="product-preview__link" href="#">
				<img class="product-preview__img" src="img/cat_3.jpg" alt="">
				<div class="product-preview__content">
					<h3 class="heading heading--sm">Closet No 14</h3>
					<p class="product-preview__text">Lorem ipsum dolor</p>
				</div>
			</a>
		</div>
	</div>
</section>