<footer class="footer">
	<div class="footer__top">
		<div class="footer-links">
			<a class="footer-links__item" href="#">Stores</a>
			<a class="footer-links__item" href="#">Login</a>
			<a class="footer-links__item" href="#">Sweden</a>
		</div>
		<form class="subscribe-form">
			<input class="subscribe-form__field" type="email" name="email" placeholder="Your email" required>
			<button class="btn">Subscribe</button>
		</form>
	</div>
	<div class="footer__middle">
		<nav class="footer-nav">
			<a class="footer-nav__item" href="#">Customer care</a>
			<a class="footer-nav__item" href="#">Press</a>
			<a class="footer-nav__item" href="#">PR Agencies</a>
			<a class="footer-nav__item" href="#">Career</a>
			<a class="footer-nav__item" href="#">Retailers</a>
		</nav>
		<div class="socials">
			<a class="socials__link socials__link--yt" href="#"></a>
			<a class="socials__link socials__link--inst" href="#"></a>
			<a class="socials__link socials__link--fb" href="#"></a>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="copy">&copy; 2015 Eton. All rights reserved.</div>
		<div class="cards">
			<img class="cards__card" src="img/visa.png" alt="">
			<img class="cards__card" src="img/mastercard.png" alt="">
			<img class="cards__card" src="img/amex.png" alt="">
			<img class="cards__card" src="img/paypal.png" alt="">
		</div>
	</div>
</footer>